<html>
    <head>

    </head>

    <body>
        <form action="http://localhost:8080/SearchBusiness" method="post">
            <input name= "BusinessType" type="text" placeholder="Enter the Product which You want to Buy">
            <input type="submit">
        </form>
    </body>
</html>