<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The shop products are </h1>
    <li>
        <ul>
        <a onclick=(data)=>{cart[<% product.producti]}</a>"cart[<% product.productid%>]" data-productid=<% products.productId %> href="#">Pickel</a>
        </ul>
       <ul> <a href="#">happala</a></ul>
    </li>
</body>
</html>